<!DOCTYPE html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Hex90: Overflow</title><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" type="text/css" href="./assets/styles/main.css"><link rel="stylesheet" type="text/css" href="./assets/styles/linux.css"><script src="./assets/js/linuxWeb_js/X.js"></script><link rel="shortcut icon" href="./assets/img/bg.jpg" />
<meta property="og:url" content="https://hex90.party/" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="Hex90" />
<meta property="og:description" content="A queer hacker salon in NYC." />
<meta property="og:image" content="https://hex90.party/static/img/bg.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Hex90" />
<meta name="twitter:description" content="A queer hacker salon in NYC." />
<meta name="twitter:image" content="https://hex90.party/static/img/bg.jpg" /></head><body><div id="linuxRoot"><div id="topBar"><div class="left_wrapper"><div id="activitiesMenuButton">Activities</div></div><div class="middle_wrapper"><span id="topBarDateTime"></span></div><div class="right_wrapper"><div class="statusAreaButton" id="statusAreaButton"><network_icon></network_icon><volume_icon></volume_icon><down_icon></down_icon></div></div></div><div id="mainContent"></div></div><div id="overlayContainer"><div id="systemOverlays"><div id="systemMenuContainer"></div><div id="systemMenuAnimationContainer"></div></div><div class="general"></div></div></body>