/**
 * @group Shopping cart overrides.
 */
#shopping-cart {
    background-color: rgb(179, 80, 255, .5);
}
.performance {
    color: inherit;
}
.performance,
.ticket-types li {
    list-style-type: none;
}
.ticket-types .ticket-type-price {
    background: none;
    font-size: medium;
}
